[flake8]
exclude = .git,__pycache__,poc_scripts,migrations, manage.py
ignore = \
    A002, \
    W503, \             # Разрыв строки после бинарного оператора
    D100, \             # Докстринги в публичных модулях  # FIXME: убрать из ignore и дописать докстринги
    D101, \             # Докстринги в публичных классах  # FIXME: убрать из ignore и дописать докстринги
    D102, \             # Докстринги в публичных методах  # FIXME: убрать из ignore и дописать докстринги
    D103, \             # Докстринги в публичных функциях  # FIXME: убрать из ignore и дописать докстринги
    D104, \             # Докстринги в публичных пакетах (__init__.py)
    D105, \             # Докстринги в магических методах
    D106, \             # Докстринги в публичных вложенных классах (например, Meta)
    D107                # Докстриги в __init__
application-import-names = exrest, tests
import-order-style = pep8

per-file-ignores =
    tests/*:E501